<!DOCTYPE html>
<html>
<head>
    <title>Periscope</title>
    <meta charset="UTF-8">
    <link rel="manifest" href="{{ url_for('clinic.static', filename='public/manifest.json') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('clinic.static', filename='icons/gasper_favicon.png') }}">
    <!-- OpenGraph Nonsense -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Periscope">
    <meta property="og:title" content="Welcome to Periscope">
    <meta name="description" content="A little web app to help perioperative doctors get through their clinic days.">
    <meta property="og:description" content="A little web app to help perioperative doctors get through their clinic days.">
    <link rel="canonical" href="https://periscope.net.au/">
    <meta property="og:url" content="https://periscope.net.au/">
    <meta property="og:image" content="{{ url_for('clinic.static', filename='public/clinic-opengraph-banner.jpg') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
{% block base_content %}
{% endblock %}
</body>
</html>