:root {
    --spacing-base: 0.3cm;
    --header-height: 1.5cm;
    
    --colour-red: rgb(192, 57, 43);
    --colour-darkgrey: #1e272e;
}

#clinic-prettyprint-target {
    display: none;
}

@media print {
    #tab-box {
        display: none;
    }
    dialog {
        display: none;
    }
    #clinic-prettyprint-target {
        display: unset;
    }
    * {
        print-color-adjust: exact;
        font-family: sans-serif;
    }
    @page {
        margin: 0.5cm 1cm 1cm 0.5cm;
        @bottom-right {
            content: "Page " counter(page) " of " counter(pages);
        }
        @bottom-center {
            content: "PLEASE TURN OVER";
            font-weight: bold;
            font-size: 0.8rem;
        }
    }
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 0.85rem;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1.1em;
    }
    h5, h6 {
        font-size: 1em;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    
    /* UTILS */
    .hstack {
        display: grid;
        column-gap: calc(var(--spacing-base) * 0.6);
        row-gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
        max-width: 100%;
    }
    .vstack {
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: calc(var(--spacing-base) * 0.6);
    }
    .box {
        /* background-color: var(--colour-darkgrey); */
        background-color: rgb(241, 242, 246);
        border-radius: var(--spacing-base);
        padding: var(--spacing-base);
        /* color: white; */
    }
    .box.alert {
        background-color: var(--colour-red);
        text-align: center;
        font-weight: bold;
        color: white;
    }
    
    header {
        height: var(--header-height);
        display: flex;
    }
    
    aside {
        float: left;
        width: 5cm;
        height: calc(100vh - var(--header-height));
        margin: 0;
        padding: 0;
        padding-right: 0.5cm;
        row-gap: 0.5cm !important;
    }
    
    
    table.summary-table {
        font-size: 9pt;
        color: currentColor;
        .summary-indicator {
            width: 2ch;
        }
    }
    table {
        width: 100%;
        border: none;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        td {
            border: none;
            padding: 0;
        }
        .airway-value {
            text-align: right;
        }
    }
    
    #anthropometry {
        grid-template-columns: 60% 40%;
        td:last-of-type {
            text-align: right;
        }
        #bmi {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: bold;
            text-align: center;
            span:last-of-type {
                font-size: 2rem;
            }
        }
    }
    
    #allergies-alert {
        font-size: 3rem;
    }
    #airway-alert {
        font-size: 1.25em;
    }
    section {
        break-inside: avoid;
    }
    
    section:first-of-type {
        break-inside: auto;
    }
    ul, ol {
        /* fixes a bug where nested lists were not indented correctly when positioned to the right of the <aisde> element */
        /* https://stackoverflow.com/questions/11637049/formatting-div-to-the-right-of-a-float-left-problems-with-padding-and-lists */
        overflow: hidden;
    }
    /* ol {
    list-style-position: inside;
    }
    ul {
    list-style-position: outside;
    } */
    body > ul, ol {
        padding-inline-start: 3ch;
    }
    
    #addressograph {
        width: 170px;
        height: 70px;
        position: absolute;
        border: 1px dashed black;
        top: 0;
        right: 0;
        font-size: 9pt;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
