<style>
    #authorisation {
        h2 {
            border-bottom: 2px solid rgba(0,0,0,0.2);
            width: 100%;
            margin: 0.5rem 0;
            padding-bottom: 0.5rem;
        }
        >p {
            text-align: center;
            text-wrap: pretty;
            font-size: 1.1rem;
        }
        .tenant-cell {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: var(--colour-darkgrey);
            color: white;
            font-size: 1rem;

            padding: 1rem;
            border-radius: 0.5rem;
            border: 1px solid var(--colour-lightgrey);
            * {
                margin: 0;
            }
        }
        img {
            height: 10rem;
            margin: 2rem auto;
            display: block;
        }
    }
</style>
<dialog id="authorisation">
    <span aria-roledescription="button" class="dialog-close"></span>
    <h1><mark class="red">{% if session['tenant'] %}You're Connected{% else %}Get Connected{% endif %}</mark></h1>
    {% if session['tenant'] %}
    <p>All special Periscope features are unlocked.</p>
    {% else %}
    <p>Unlock special Periscope features with your hospital's code.</p>
    {% endif %}
    <img src="{{ 'img/backdrop_illustrations/anaesthetic_machine_hospital.svg' | static_base64 }}" alt="">
    {% if session['tenant'] %}
    <!-- <p>All special Periscope features are unlocked.</p> -->
    {% else %}
    <p>If you don't have a code yet, <a href="mailto:admin@periscope.net.au?subject=Hospital%20Code%20Request">get in touch with us</a>.</p>
    {% endif %}

    {% if session['tenant'] %}
    <div class="tenant-cell">
        <p>🟢  {{ session.tenant.pretty_name }}</p>
        <button form="deauthorise" type="submit" autofocus>Disconnect</button>
    </div>
    <form id="deauthorise" action="{{ url_for("tenant.deauth") }}" method="post"></form>
    {% else %}        
    <div class="tenant-cell">
        <input form="authorise" type="text" name="tenant_secret" placeholder="Hospital Code" required>
        <button form="authorise" type="submit" autofocus>Connect</button>
    </div>
    <form id="authorise" action="{{ url_for("tenant.auth") }}" method="post"></form>
    
    {% endif %}
</dialog>
{% if not session['tenant'] %}
<script>                                                                           
    let welcomeDialog = document.querySelector('#authorisation')
    window.addEventListener("DOMContentLoaded", (e) => {
        welcomeDialog.showModal()
    })                                                                           
</script>
{% endif %}