<dialog id="quick-find">
    <clinic-navigable-list>
        <input type="text" id="quick-find-input" autocomplete="off" autocapitalize="off" tabindex="2" placeholder="Search ✨" autofocus>
        <ul id="quick-find-results" class="pill-list"></ul>
    </clinic-navigable-list>
    <form method="dialog" style="margin: 1rem 0 0 0; float: right;">
        <div class="popup-info"><kbd class="key"><img src="{{ 'icons/arrow_up.svg' | static_base64 }}"></kbd><kbd class="key"><img src="{{ 'icons/arrow_down.svg' | static_base64 }}"></kbd> to navigate  <kbd class="key"><img alt="Return Key" src="{{ 'icons/arrow_down_left.svg' | static_base64 }}"></kbd> to select  <kbd class="key">esc</kbd> to close</div>
        <button>Close</button>
    </form>
</dialog>
<style>
#quick-find {
    #quick-find-input {
        width: 100%;
    }
    background-color: var(--colour-blue);
    padding: 1rem;
    margin-top: 30vh;
    width: 600px;
    #quick-find-results {
        grid-template-columns: 1fr;
        margin: 0;
    }
    #quick-find-results:has(li) {
        margin-top: 1rem;
    }
}
</style>
<script>
    window.addEventListener("DOMContentLoaded", (e) => {
        let allInputs = document.querySelectorAll('clinic-search')
        document.searchableInputs = []
        for (let i of allInputs) {
            document.searchableInputs.push({
                'name': i.getAttribute('clinic-search'),
                'element': i,
            })
        }
    })
    
    let quickFindDialog = document.querySelector('#quick-find')
    let quickFindSearch = document.querySelector('#quick-find-input')
    let quickFindResults = document.querySelector('#quick-find-results')
    document.addEventListener("keydown", (e) => {
        let key = e.key.toLowerCase()
        if ((key === "k" && (e.metaKey || e.ctrlKey))) {
            e.preventDefault()
            quickFindDialog.showModal()
        }
    })
    quickFindSearch.addEventListener('input', (e) => {
        let results = fuzzysort.go(e.target.value, document.searchableInputs, {key: 'name', limit: 5})
        quickFindResults.innerHTML = ''
        for (let r of results) {
            let li = document.createElement('li')
            li.innerHTML = `${r.obj['name']}<button tabindex="2">Go</button>`
            li.onclick = (e) => {
                // scroll into view and focus
                // setTimeout() seems to be required here
                r.obj['element'].scrollIntoView({ block: "center", inline: "nearest"})
                setTimeout(() => { r.obj['element'].focus() }, 0)
                // be gone
                quickFindDialog.close()
                // reset
                quickFindSearch.value = ''
                quickFindResults.innerHTML = ''
            }
            quickFindResults.appendChild(li)
            quickFindResults.firstChild.setAttribute('aria-selected', 'true')
        }
    })
    
    
    document.querySelector('#quick-find-button')?.addEventListener('click', (e) => {
        quickFindDialog.showModal()
    })
</script>