<dialog id="shortcuts-menu">
    <table id="shortcuts-table">
        <thead>
            <tr>
                <th>Shortcut</th>
                <th>Snippet</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    
    <form method="dialog" style="margin: 1rem 0 0 0; float: right;">
        <span style="color: white; font-weight: bold;">Snippets will appear when you type their shortcut.</span>
        <button>Close</button>
    </form>
</dialog>
<style>
#shortcuts-menu {
    padding: 1.25rem;
    background-color: var(--colour-blue);

    table {
        margin: 0;
        border: none;
        border-radius: 0.5rem;
        background-color: white;
        width: 100%;
        th:first-of-type {
            border-top-left-radius: 0.5rem;
        }
        th {
            text-align: left;
            padding: 0.6rem;
        }
        th:last-of-type {
            border-top-right-radius: 0.5rem;
        }
        th:first-of-type, td:first-of-type {
            width: 15ch;
        }
        * {
            border: none;
        }
        tr {
            border-bottom: 1px solid black;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}
</style>
<script>
// TEXT EXPANDER
let shortcutsButton = document.querySelector('#shortcuts-button')
let shortcutsMenu = document.querySelector('#shortcuts-menu')
let shortcutsTable = document.querySelector('#shortcuts-table tbody')
let shortcutsList = [
    { shortcut: '@gas', expansion: 'no issues (PONV, FHx, airway disaster, unplanned ICU admission, etc.)'},
    { shortcut: '@dent', expansion: 'own teeth, none loose, no caps/crowns/dentures'},
    { shortcut: '@met', expansion: 'walking > 2km and > 2 flights of stairs without dyspnoea or chest pain' },
    { shortcut: '@end', expansion: '- Routine fasting advice provided\n- Withhold medications as per pharmacy letter' },
    { shortcut: '@rx', expansion: 'Withhold medications as per pharmacy letter' },
    { shortcut: '@fast', expansion: 'Routine fasting advice provided' },
    { shortcut: '@nsr', expansion: 'normal sinus rhythm with no ischaemic features' },
    { shortcut: '@af', expansion: 'atrial fibrillation with no ischaemic features' },
]
document.body.addEventListener('input', (e) => {
    if (e.target.matches('textarea, input')) {
        let target = e.target
        let initialCursorPosition = target.selectionStart
        let precedingText = target.value.slice(0, initialCursorPosition)

        for (let s of shortcutsList) {
            let shortcut = s['shortcut']
            if (precedingText.endsWith(shortcut)) {
                // get expansion
                let expansion = s['expansion']
                // manufacture new string
                let newText = target.value.slice(0, initialCursorPosition - shortcut.length) + expansion + target.value.slice(initialCursorPosition)
                // replace old string
                target.value = newText
                // fix cursor position
                let newCursorPosition = initialCursorPosition - shortcut.length + expansion.length
                target.setSelectionRange(newCursorPosition, newCursorPosition)
                // trigger input event to trigger proxy updates
                // TODO: should this be applied to the containing <clinic-input>, or is that unncessarily restrictive?
                target.dispatchEvent(new CustomEvent('input', { bubbles: true }))
            }
        }
    }
})
shortcutsButton.addEventListener('click', (e) => {
    shortcutsMenu.showModal()
})
window.addEventListener("DOMContentLoaded", (e) => {
    for (let s of shortcutsList) {
        shortcutsTable.insertAdjacentHTML('beforeend', `<tr><td>${s['shortcut']}</td><td>${s['expansion'].charAt(0).toUpperCase() + s['expansion'].slice(1).replaceAll("\n", "<br>")}</td></tr>`)
    }
})
</script>