{% extends 'clinic/diagnoses/_base_diagnosis.html' %}

{% block default_name %}Atrial fibrillation{% endblock %}
{% block search_keywords %}AF atrial fibrillation{% endblock %}
{% block added_callback %}{% endblock %}
{% block deleted_callback %}{% endblock %}

{% block inputs %}
<div class="hstack">
    <label>
        Type
        <div class="selectbox">
            <select autocomplete="off" diagnosis-parameter="Type">
                <option selected="" value="">
                </option>
                <option value="paroxysmal">
                    Paroxysmal (≥ 7 days)
                </option>
                <option value="persistent">
                    Persistent (≥ 7 days)
                </option>
                <option value="longstanding">
                    Longstanding (≥ 1 year)
                </option>
                <option value="permanent">
                    Permanent (cardioversion-resistant)
                </option>
            </select>
        </div>
    </label>
    <label>
        <span>
            CHA
            <sub>
                2
            </sub>
            DS
            <sub>
                2
            </sub>
            -VASc
        </span>
        <input diagnosis-parameter="CHADS-VASc" max="8" min="0" step="1" type="number"/>
    </label>
</div>
<div class="hstack">
    <label>
        Rate Control
        <input diagnosis-parameter="Rate control" max="8" min="0" step="1" type="text"/>
    </label>
    <label>
        Rhythm Control
        <input diagnosis-parameter="Rhythm control" max="8" min="0" step="1" type="text"/>
    </label>
</div>
<label>
    Anticoagulated
    <div class="selectbox">
        <select autocomplete="off" diagnosis-parameter="Anticoagulated">
            <option selected="" value="">
            </option>
            <option value="YES">
                Yes
            </option>
            <option value="no">
                No
            </option>
        </select>
    </div>
</label>
{% endblock %}