{% extends 'clinic/diagnoses/_base_diagnosis.html' %}

{% block default_name %}Anaphylaxis{% endblock %}
{% block search_keywords %}anaphylaxis{% endblock %}
{% block added_callback %}{% endblock %}
{% block deleted_callback %}{% endblock %}

{% block inputs %}
<div class="hstack">
    {{ clinic_input(name="anaphylaxis-confirmed", label="Confirmed Diagnosis", prefix="self", type="select", options=[
        ("Confirmed diagnosis", "Yes"),
        ("Unconfirmed diagnosis", "No")
    ] ) }}
    {{ clinic_input(name="anaphylaxis-triggers", label="Triggers", type="text") }}
</div>
{% endblock %}