{% extends 'clinic/diagnoses/_base_diagnosis.html' %}

{% block default_name %}Cognitive impairment{% endblock %}
{% block search_keywords %}alzheimer's cognitive impairment dementia{% endblock %}
{% block added_callback %}{% endblock %}
{% block deleted_callback %}{% endblock %}

{% block inputs %}
{{ clinic_input(name="dementia-type", label="Type", type="text") }}

<div class="hstack">
    {{ clinic_input(name="dementia-baseline-moca", label="Baseline MoCA", type="number", min="0", max="30", step="1") }}
    {{ clinic_input(name="dementia-lays-still", label="Likely to Lay Still", prefix="self", type="select", options=[
        ("Likely to lay still", "Yes"),
        ("Unlikely to lay still", "No")
    ] ) }}
</div>
{% endblock %}