{% extends 'clinic/diagnoses/_base_diagnosis.html' %}

{% block default_name %}Heart failure{% endblock %}
{% block search_keywords %}HF HFpEF HFrEF congestive cardiac heart failure{% endblock %}
{% block added_callback %}inputData['rcri-ccf'] = true{% endblock %}
{% block deleted_callback %}{% endblock %}

{% block inputs %}
<div class="vstack">
    {{ clinic_input(name="hf-aetiology", label="Aetiology", type="text") }}
    <div class="hstack">
        {{ clinic_input(template="hf-lvef") }}
        {{ clinic_input(template="hf-nyha") }}
    </div>
</div>
{% endblock %}