{% extends 'clinic/diagnoses/_base_diagnosis.html' %}

{% block default_name %}Atrial fibrillation{% endblock %}
{% block search_keywords %}AF atrial fibrillation{% endblock %}
{% block added_callback %}{% endblock %}
{% block deleted_callback %}{% endblock %}

{% block inputs %}

<div class="hstack">
{{ clinic_input(name="afib-type", label="Type", type="select", options=[
    ("paroxysmal", "Paroxysmal (&lt; 7 days)"),
    ("persistent", "Persistent (≥ 7 days)"),
    ("longstanding", "Longstanding (≥ 1 year)"),
    ("permanent", "Permanent (cardioversion-resistant)"),
])}}
{{ clinic_input(name="afib-chadsvasc", label="CHADS-VASc", type="number", min="0", max="8", step="1") }}
</div>

<div class="hstack">
    {{ clinic_input(name="afib-ratecontrol", label="Rate Control", prefix="Rate control", type="text") }}
    {{ clinic_input(name="afib-rhythmcontrol", label="Rhythm Control", prefix="Rhythm control", type="text") }}
</div>

{{ clinic_input(name="afib-anticoagulated", label="Anticoagulated", prefix="self", type="select", options=[
    ("Anticoagulated", "Yes"),
    ("NOT anticoagulated", "No")
])}}
{% endblock %}