{% extends 'clinic/diagnoses/_base_diagnosis.html' %}

{% block default_name %}AAA{% endblock %}
{% block search_keywords %}abdominal aortic aneurysm{% endblock %}
{% block added_callback %}{% endblock %}
{% block deleted_callback %}{% endblock %}

{% block inputs %}
<div class="hstack">
    {{ clinic_input(name="aaa-size", label="Current size", suffix=" cm", type="number", min="0", max="30", step="0.1") }}
    {{ clinic_input(name="aaa-stable", label="Stable", prefix="self", type="select", options=[
        ("Stable size", "Yes"),
        ("Unstable size", "No")
    ] ) }}
</div>
{% endblock %}