{% extends 'clinic/diagnoses/_base_diagnosis.html' %}

{% block default_name %}Asthma{% endblock %}
{% block search_keywords %}asthma{% endblock %}
{% block added_callback %}{% endblock %}
{% block deleted_callback %}{% endblock %}

{% block inputs %}
<div class="hstack">
    {{ clinic_input(name="asthma-nsaid-reactive", label="NSAID Reactive", prefix="self", type="select", options=[
        ("NSAID reactive", "Yes"),
        ("Not NSAID reactive", "No")
    ])}}
    
    {{ clinic_input(name="asthma-flares", label="Admissions", type="select", options=[
        ("has been admitted to ICU (intubated) for asthma", "ICU (intubated)"),
        ("has been admitted to ICU (non-intubated) for asthma", "ICU (non-intubated)"),
        ("ward-based admissions only", "Ward-level admissions"),
        ("none, but flares have been managed in community", "Community-managed flares"),
        ("none", "None")
    ])}}
</div>
<hr/>
<span>
    In the past <b>four weeks</b>, has the patient had:
</span>
<div class="hstack">
    {{ clinic_input(name="asthma-symptoms-day", label="Daytime wheeze", type="select", options=[
        ("yes", "Yes"),
        ("no", "No")
    ])}}
    {{ clinic_input(name="asthma-symptoms-night", label="Wheeze interrupting sleep", type="select", options=[
        ("yes", "Yes"),
        ("no", "No")
    ])}}
</div>
<div class="hstack">
    {{ clinic_input(name="asthma-symptoms-reliever", label="SABA requirement ≥ 2x weekly", type="select", options=[
        ("yes", "Yes"),
        ("no", "No")
    ])}}
    {{ clinic_input(name="asthma-symptoms-activity", label="Activity limitation", type="select", options=[
        ("yes", "Yes"),
        ("no", "No")
    ])}}
</div>
{% endblock %}