{% extends 'html/base.html' %}
{% block head %}
<meta name="theme-color" content="#2d3436" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#2d3436" media="(prefers-color-scheme: light)">
{% endblock %}

{% block content %}
<div id="tab-box">
    <nav id="sidebar" aria-expanded="true">
        <ul>
            {% block navigation %}
            {% endblock %}
            <hr>
            <li title="Shortcuts" role="button" id="shortcuts-button">
                <span class="icon"><img src="{{ 'icons/colour_fast_forward.svg' | static_base64 }}"></span>
                <span class="left">Shortcuts</span>
            </li>
            <li title="Search (⌘K)" role="button" id="quick-find-button">
                <span class="icon"><img src="{{ 'icons/colour_search.svg' | static_base64 }}"></span>
                <span class="left">Search</span>
                <span class="right">⌘K</span>
            </li>
            
            <hr>
            <li id="download" title="Download" role="button">
                <span class="icon"><img src="{{ 'icons/colour_arrow_down_circle.svg' | static_base64 }}"></span>
                <span class="left">Download</span>
            </li>
            <li id="reset" title="Reset" role="button">
                <span class="icon"><img src="{{ 'icons/colour_zap.svg' | static_base64 }}"></span>
                <span class="left">Reset</span>
            </li>

            <hr>
            <a class="invisible-link" target="_blank" href="https://github.com/samnunn/periscope">
                <li title="Link to this project's source code" role="button">
                    <span class="icon"><img src="{{ 'icons/github_mark.svg' | static_base64 }}"></span>
                    <span class="left">Source Code</span>
                </li>
            </a>
            <a class="invisible-link" href="mailto:hello@gasnotes.net?subject=Bug%20Report%20for%20Periscope">
                <li title="Report a Bug" role="button">
                    <span class="icon"><img src="{{ 'icons/colour_bug.svg' | static_base64 }}"></span>
                    <span class="left">Report a Bug</span>
                </li>
            </a>
            <li title="Link to this tool's MIT license" onclick="document.querySelector('#big-welcome').showModal()" role="button">
                <span class="icon"><img src="{{ 'icons/colour_edit.svg' | static_base64 }}"></span>
                <span class="left">Terms</span>
            </li>
            <hr>
            <li title="Toggle menu" role="button" id="tab-bar-collapse-button">
                <span class="icon"><img src="{{ 'icons/chevrons_right.svg' | static_base64 }}"></span>
                <span class="left">Pin Sidebar</span>
            </li>
        </ul>
    </nav>
    <main id="tab-display">
        {% block inputs %}
        {% endblock %}
    </main>
</div>
<!-- DIALOGUES -->
<dialog id="big-welcome">
    <div id="top">
        <h1>Welcome to Periscope <span id="wave">👋</span></h1>
        <h3>A little app to help perioperative doctors get through their clinic days.</h3>
    </div>
    <div id="blurb">
        <h2>Security 🔐</h2>
        <p>The information you add to Periscope never leaves your device. Absolutely no patient data is collected.</p>
        <img src="{{ 'illustrations/clinic_data_safety.webp' | static_base64 }}" alt="">
        <p>All computations, scores, and data-processing happen right here in this browser tab. As long as you use this on a work-approved computer, your data is safe.</p>
        <h2>Keep Your Thinking Cap On ⚖️</h2>
        <p>All efforts have been made to ensure that Periscope won't steer you wrong, but <strong>you are still the doctor</strong>. You are responsible for double-checking your work and treating your own patients.</p>
        <p>This software is proudly provided free of charge under the <a target="_blank" href="https://github.com/samnunn/periscope/blob/main/LICENSE.txt">MIT License</a>, which you must accept before using it.</p>
    </div>
    <h3>Do you accept these terms?</h3>
    <div id="buttons">
        <a href="http://gasnotes.net" onclick="localStorage.setItem('clinic-last-welcome-date', '')"><button>Decline</button></a>
        <form method="dialog">
            <button autofocus>Accept</button>
        </form>
    </div>
</dialog>

<dialog id="quick-find">
    <clinic-navigable-list>
        <input type="text" id="quick-find-input" autocomplete="off" autocapitalize="off" tabindex="2" placeholder="Search ✨" autofocus>
        <ul id="quick-find-results" class="pill-list"></ul>
    </clinic-navigable-list>
    <form method="dialog" style="margin: 1rem 0 0 0; float: right;">
        <div class="popup-info"><span class="key"><img src="{{ 'icons/arrow_up.svg' | static_base64 }}"></span><span class="key"><img src="{{ 'icons/arrow_down.svg' | static_base64 }}"></span> to navigate  <span class="key"><img alt="Return Key" src="{{ 'icons/arrow_down_left.svg' | static_base64 }}"></span> to select  <span class="key">esc</span> to close</div>
        <button>Close</button>
    </form>
</dialog>
<dialog id="shortcuts-menu">
    <table id="shortcuts-table">
        <thead>
            <tr>
                <th>Shortcut</th>
                <th>Snippet</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    
    <form method="dialog" style="margin: 1rem 0 0 0; float: right;">
        <span style="color: white; font-weight: bold;">Snippets will auto-expand when you type their shortcut.</span>
        <button>Close</button>
    </form>
</dialog>
<!-- SCRIPTS -->
<script>window.procedures = {{ 'data/sort-data.json' | static_include | safe }}</script>
<script>{{ 'data/diagnosis-data.js' | static_include | safe }}</script>
<script>
    {{ 'data/input-data.js' | static_include | safe }}
    {{ 'js/clinic-inputs.js' | static_include | safe }}
</script>
<script>{{ 'js/fuzzysort.min.js' | static_include | safe }}</script>
<script type="module">{{ 'js/clinic.js' | static_include | safe }}</script>



{% endblock %}