{% extends 'html/base.html' %}
{% block content %}
<style>
    {% include 'css/welcome.css' %}
</style>
<main>
    <header>
        <nav id="navbar" class="wrapped">
            <div id="navbar-left">
                <h1 id="site-title">Periscope</h1>
            </div>
            <div id="navbar-right">
                <span>Huh?</span>
                <span>Oh…</span>
                <span>Let's Go 🚀</span>
            </div>
        </nav>
    </header>
    <main>
        <div id="topper">
            <section class="wrapped">
                <h1 id="yell">The <mark>free and open</mark> perioperative platform.</h1>
            </section>
        </div>
        <section class="wrapped">
            <div id="idea-grid">
                <div class="idea-words">
                    <h2><mark class="green">Huh?!</mark>  🤔</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="idea-picture">
                    <img src="/static/illustrations/anaesthetic_machine.svg" alt="">
                </div>
                <div class="idea-picture">
                    <img src="/static/illustrations/propeller_hat.svg" alt="">
                </div>
                <div class="idea-words">
                    <h2><mark class="blue">Oh…</mark>  😯</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="idea-words">
                    <h2><mark class="yellow">Woah!</mark>  🤯</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="idea-picture">
                    <img src="/static/illustrations/lma.svg" alt="">
                </div>
                <div id="dot-spacer"></div>
            </div>
        </section>
        <section id="call-to-action">
            <h1><mark>Let's GO!</mark></h1>
        </section>
    </main>
    <footer>
        <div class="wrapped">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </footer>
</main>

{% endblock %}