{% extends 'clinic/layouts/default.html' %}
{% load clinic_tags %}
{% block navigation %}
<li title="Patient Details">
    <span class="icon"><img src="{{ 'icons/gasper_favicon.png' | static_base64 }}"></span>
    <span class="left">Periscope</span>
</li>
<hr>
<li title="Patient Details" role="button" scroll-target="details">
    <span class="icon"><img src="{{ 'icons/colour_bookmark.svg' | static_base64 }}"></span>
    <span class="left">Patient Details</span>
</li>
<li title="Triage" role="button" scroll-target="triage">
    <span class="icon"><img src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}"></span>
    <span class="left">Triage</span>
</li>
<li title="Medical History" role="button" scroll-target="medicalhx">
    <span class="icon"><img src="{{ 'icons/colour_heart.svg' | static_base64 }}"></span>
    <span class="left">Medical History</span>
</li>
<li title="Medications" role="button" scroll-target="rx">
    <span class="icon"><img src="{{ 'icons/colour_pill.svg' | static_base64 }}"></span>
    <span class="left">Medications</span>
</li>
<li title="Plan" role="button" scroll-target="plan">
    <span class="icon"><img src="{{ 'icons/colour_check_circle.svg' | static_base64 }}"></span>
    <span class="left">Plan</span>
</li>
{% endblock %}

{% block inputs %}
<section id="details">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_bookmark.svg' | static_base64 }}">
        <h2><mark class="grey">Patient Details</mark></h2>
    </div>
    <div class="hstack">
        {% input "patient-age" %}
        {% input "patient-sex" %}
        {% input "patient-height" %}
        {% input "patient-weight" %}
        {% input "patient-bmi" %}
        {% input "patient-asa" %}
    </div>
</section>
<section id="triage">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}">
        <h2><mark class="grey">Triage</mark></h2>
    </div>
    <div class="hstack">
        <div class="vstack">
            <h4>Green Flags 🟢</h4>
            <div class="vstack" id="green-flags">
                {% input "cataract-already-done" %}
                <label>Able to Lay Flat<input type="checkbox" clinic-opposite="patient-cataract-lay-flat" tabindex=0></label>
                <label>Understands English<input type="checkbox" clinic-opposite="patient-language-barrier" tabindex=0></label>
                <label>Able to Hear<input type="checkbox" clinic-opposite="patient-deaf" tabindex=0></label>
                <label>No Cognitive Impairment<input type="checkbox" clinic-opposite="patient-cognitive-impairment" tabindex=0></label>
                <label>Able to Communicate<input type="checkbox" clinic-opposite="patient-unable-to-communicate" tabindex=0></label>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    let greenFlags = document.querySelectorAll('#green-flags input[type="checkbox"]')
                    let greenFlagOppositeParameters = Array.from(greenFlags).map(f => f.getAttribute('clinic-opposite'))

                    // input arm
                    for (let f of greenFlags) {
                        let clinicParameter = f.getAttribute('clinic-opposite')
                        f.addEventListener('input', (e) => {
                            document.persistentDataProxy[clinicParameter] = !e.target.checked
                        })
                    }

                    // output arm
                    document.addEventListener('clinic:value-changed', (e) => {
                        if (greenFlagOppositeParameters.includes(e.detail.key)) {
                            let targetInput = document.querySelector(`#green-flags input[clinic-opposite="${e.detail.key}"]`)
                            targetInput.checked = !e.detail.newValue
                        }
                    })

                })
            </script>
            <h4>Yellow Flags ⚠️</h4>
            <div class="hstack">
                <div class="vstack">
                    {% input "patient-cataract-lay-flat" %}
                    {% input "patient-language-barrier" %}
                    {% input "patient-deaf" %}
                    {% input "patient-cognitive-impairment" %}
                    {% input "patient-unable-to-communicate" %}
                    {% input "patient-ppmicd" %}
                    {% input "patient-known-difficult-airway" %}
                    {% input "patient-known-mh" %}
                    {% input "patient-recent-respiratory-illness" %}
                    {% input "patient-public-guardian" %}
                </div>

            </div>
            <h4>Red Flags 🚨</h4>
            <div class="hstack">
                <div class="vstack">
                    {% input "patient-recent-cardiac-event" %}
                    {% input "patient-recent-pe" %}
                    {% input "patient-recent-stroke" %}
                </div>
            </div>
        </div>
        <div class="vstack">
            <style>
                #dial-divot {
                    flex-grow: 1;
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                }
                #dial {
                    user-select: none;
                    pointer-events: none;
    
                    margin-top: 3rem;
                    width: 50%;
                    max-width: 350px;
                    position: relative;
                    #needle {
                        --needle-width: 10%;
                        width: var(--needle-width);
                        position: absolute;
                        bottom: calc(0px - 0.5 * var(--needle-width));
                        left: calc(50% - 0.5 * var(--needle-width));
                        transform-origin: center 84%;
                        rotate: 40deg;
                    }
                }
                #dial-advice {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            </style>
            <div id="dial-divot" class="">
                <div id="dial">
                    <img src="{{ 'icons/warning_dial.svg' | static_base64 }}" alt="">
                    <img src="{{ 'icons/warning_dial_needle.svg' | static_base64 }}" alt="" id="needle">
                </div>
                <p id="dial-advice"></p>
            </div>
            <script type="module">
                let needle = document.querySelector('#needle')
                let advice = document.querySelector('#dial-advice')
                function moveDial() {
    
                    let risk = evaluateScreeningRisk()
                    if (risk == "red") {
                        needle.style.rotate = "-22deg"
                        advice.innerText = "Refer for pre-operative assessment."
                    } else if (risk == "yellow") {
                        needle.style.rotate = "22deg"
                        advice.innerText = "Discuss with anaesthetist."
                    } else if (risk == "green") {
                        needle.style.rotate = "67deg"
                        advice.innerText = "Continue with assessment."
                    } else {
                        needle.style.rotate = "-67deg"
                        advice.innerText = "Begin assessment."
                    }
                }
                function evaluateScreeningRisk() {
                    if (checkRedFlags()) return "red"
                    if (checkYellowFlags()) return "yellow"
                    if (document.querySelector("#green-flags:has(input:checked)")) return "green"
                    return "grey"
                }
                function checkRedFlags() {
                    if (parseInt(document.persistentDataProxy["patient-asa"]) > 4) return true
                    if (/less/i.test(document.persistentDataProxy["patient-mets"])) return true
                    let redFlags = [
                        "patient-recent-cardiac-event",
                        "patient-recent-pe",
                        "patient-recent-stroke",
                    ]
                    if (redFlags.some(key => document.persistentDataProxy[key])) return true
                }
                function checkYellowFlags() {
                    if (parseInt(document.persistentDataProxy["patient-asa"]) == 4) return true
                    let yellowFlags = [
                        "patient-cataract-lay-flat",
                        "patient-language-barrier",
                        "patient-deaf",
                        "patient-cognitive-impairment",
                        "patient-unable-to-communicate",
                        "patient-ppmicd",
                        "patient-known-difficult-airway",
                        "patient-known-mh",
                        "patient-recent-respiratory-illness",
                        "patient-public-guardian",
                    ]
                    if (yellowFlags.some(key => document.persistentDataProxy[key])) return true
                }
                window.addEventListener("DOMContentLoaded", moveDial)
                document.addEventListener('clinic:value-changed', moveDial)
            </script>
        </div>
    </div>
</section>

<section id="medicalhx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_heart.svg' | static_base64 }}">
        <h2><mark class="grey">Medical History</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            <style>
                aside::before {
                    content: "↳ ";
                    margin-left: 1ch;
                    margin-top: 0;
                }
            </style>
            <h4>CNS</h4>
            <label>
                Stroke or TIA
                <input type="checkbox">
            </label>
            <label>
                Epilepsy
                <input type="checkbox">
            </label>
            <aside>Document last seizure</aside>
            <label>
                Cognitive Impairment
                <input type="checkbox">
            </label>
            <aside>Document care requirements with ADLs</aside>
            <h4>Cardiovascular</h4>
            <label>
                Ischaemic Heart Disease
                <input type="checkbox">
            </label>
            <label>
                Heart Failure
                <input type="checkbox">
            </label>
            <label>
                Arrhythmia
                <input type="checkbox">
            </label>
            <aside>Document type and management</aside>
            <label>
                Pacemaker or ICD
                <input type="checkbox">
            </label>
            <aside>Document type and last check</aside>
            <h4>Respiratory</h4>
            <label>
                OSA
                <input type="checkbox">
            </label>
            <aside>Document CPAP use</aside>
            <label>
                Asthma
                <input type="checkbox">
            </label>
            <label>
                COPD
                <input type="checkbox">
            </label>
            <label>
                Recent URTI
                <input type="checkbox">
            </label>
            <label>
                Recent LRTI
                <input type="checkbox">
            </label>
            <h4>Endocrine</h4>
            <label>
                Diabetes
                <input type="checkbox">
            </label>
            <aside>Document usual BSL and any complications</aside>
            <label>
                Thyroid Disease
                <input type="checkbox">
            </label>
            <h4>Gastrointestinal</h4>
            <label>
                GORD
                <input type="checkbox">
            </label>
            <aside>Document severity</aside>
            <h4>Other</h4>
            <label>
                Arthritis
                <input type="checkbox">
            </label>
            <label>
                Active Smoker
                <input type="checkbox">
            </label>
            <label>
                Daily Alcohol
                <input type="checkbox">
            </label>
        </div>
        {% input "history-freetext" classes="bigbox autotall" %}
    </div>
    <!-- <hr>
    <div class="vstack">
        {% input "previous-anaesthesia-freetext" classes="bigbox medium" %}
        <hr>
        <label>
            <span>Smoking</span>
            <div class="hstack">
                {% input "smoking-status" label=False %}
            </div>
        </label>
        <div class="hstack">
            {% input "alcohol-freetext" %}
            {% input "drugs-freetext" %}
        </div>
    </div> -->
</section>

<section id="rx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_pill.svg' | static_base64 }}">
        <h2><mark class="grey">Medications</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        {% input "medications-freetext" classes="bigbox autotall" %}
        <div class="vstack">
            {% input "supplements-freetext" classes="bigbox short" %}
            {% input "allergies-freetext" classes="bigbox short" %}
        </div>
    </div>
</section>

<section id="plan">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_check_circle.svg' | static_base64 }}">
        <h2><mark class="grey">Plan</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
        <div class="hstack">
            {% input "issues" classes="bigbox short autotall" %}
            {% input "plan-medications" classes="bigbox medium" %}
        </div>
    </div>
</section>
{% endblock %}