{% extends 'clinic/base.html' %}
{% load clinic_tags %}
{% block navigation %}
<li title="Patient Details">
    <span class="icon"><img src="{{ 'icons/gasper_favicon.png' | static_base64 }}"></span>
    <span class="left">Periscope</span>
</li>
<hr>
<li title="Patient Details" role="button" scroll-target="details">
    <span class="icon"><img src="{{ 'icons/colour_bookmark.svg' | static_base64 }}"></span>
    <span class="left">Patient Details</span>
</li>
<li title="Medical History" role="button" scroll-target="medicalhx">
    <span class="icon"><img src="{{ 'icons/colour_heart.svg' | static_base64 }}"></span>
    <span class="left">Medical History</span>
</li>
<li title="Medications" role="button" scroll-target="rx">
    <span class="icon"><img src="{{ 'icons/colour_pill.svg' | static_base64 }}"></span>
    <span class="left">Medications</span>
</li>
<li title="Anaesthesia" role="button" scroll-target="gashx">
    <span class="icon"><img src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}"></span>
    <span class="left">Anaesthesia</span>
</li>
<li title="Investigations" role="button" scroll-target="ix">
    <span class="icon"><img src="{{ 'icons/colour_droplet.svg' | static_base64 }}"></span>
    <span class="left">Investigations</span>
</li>
<li title="Consent" role="button" scroll-target="consent">
    <span class="icon"><img src="{{ 'icons/colour_pen_tool.svg' | static_base64 }}"></span>
    <span class="left">Consent</span>
</li>
<li title="Risk Profile" role="button" scroll-target="risk">
    <span class="icon"><img src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}"></span>
    <span class="left">Risk Profile</span>
</li>
<li title="Plan" role="button" scroll-target="plan">
    <span class="icon"><img src="{{ 'icons/colour_check_circle.svg' | static_base64 }}"></span>
    <span class="left">Plan</span>
</li>
{% endblock %}
{% block inputs %}
<section id="details">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_bookmark.svg' | static_base64 }}">
        <h2><mark class="grey">Patient Details</mark></h2>
    </div>
    <div class="vstack">
        <div class="hstack">
            {% input "patient-age" %}
            {% input "patient-sex" %}
            {% input "patient-height" %}
            {% input "patient-weight" %}
            {% input "patient-bmi" %}
            {% input "appointment-mode" %}
        </div>
        <div class="hstack">
            {% input "operation-freetext" classes="quintuple" %}
            <label>
                <span>
                    Risk
                    <clinic-modal-popup>
                        <button class="infobutton" tabindex="-1"></button>
                        <template>
                            <clinic-citation-snippet citation-id="esc-2022-severity"></clinic-citation-snippet>
                        </template>
                    </clinic-modal-popup>
                </span>
                {% input "operation-risk" label=False %}
            </label>
        </div>
    </div>
</section>
<section id="medicalhx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_heart.svg' | static_base64 }}">
        <h2><mark class="grey">Medical History</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        {% include "clinic/components/medical-history.html" %}
        <div class="vstack">
            <div class="hstack">
                {% input "patient-mets" %}
                {% input "patient-flat" %}
            </div>
            {% input "patient-mets-details" %}
            {% input "rockwood-cfs" %}
            <hr>
            <label>
                <span>Smoking</span>
                <div class="hstack">
                    {% input "smoking-status" label=False %}
                    {% input "smoking-details" label=False %}
                </div>
            </label>
            <div class="hstack">
                {% input "alcohol-freetext" %}
                {% input "drugs-freetext" %}
            </div>
            <div class="hstack">
                {% input "occupation-freetext" %}
                {% input "functioning-freetext" %}
            </div>
            {% input "other-shx" classes="bigbox short autotall" %}
        </div>
        
    </div>
</section>
<section id="rx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_pill.svg' | static_base64 }}">
        <h2><mark class="grey">Medications</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        {% input "medications-freetext" classes="bigbox autotall" %}
        <div class="vstack">
            {% input "supplements-freetext" classes="bigbox short" %}
            {% input "allergies-freetext" classes="bigbox short" %}
        </div>
    </div>
</section>
<section id="gashx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}">
        <h2><mark class="grey">Anaesthesia</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            {% input "previous-anaesthesia-freetext" classes="bigbox autotall" %}
            <div class="vstack">
                {% input "previous-bvm" %}
                {% input "previous-lma" %}
                {% input "previous-ett" %}
                {% input "previous-anaesthesia-complications" %}
            </div>
            <label>
                Family Issues with Anaesthesia
                <div class="hstack">
                    {% input "previous-anaesthesia-fhx" label=False %}
                    {% input "previous-anaesthesia-fhx-details" label=False %}
                </div>
            </label>
        </div>
        <div class="vstack">
            <div class="vstack">
                {% input "airway-dentition" %}
                <div class="hstack">
                    {% input "airway-mallampati" %}
                    {% input "airway-mouth-opening" %}
                </div>
                <div class="hstack">
                    {% input "airway-tmd" %}
                    {% input "airway-cricothyroid" %}
                </div>
                <div class="hstack">
                    {% input "airway-jaw-protrusion" %}
                    {% input "airway-neckrom" %}
                </div>
                <div class="hstack">
                    {% input "airway-beard" %}
                    {% input "vein-quality" %}
                </div>
            </div>
            <hr>
            <div class="vstack">
                
                <!-- <h4>General Examination</h4> -->
                <div class="hstack">
                    {% input "examination-heart" %}
                    {% input "examination-lungs" %}
                </div>
                {% input "examination-freetext" classes="bigbox short" %}
            </div>
        </div>
        
    </div>
</section>
<section id="ix">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_droplet.svg' | static_base64 }}">
        <h2><mark class="grey">Investigations</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            {% input "investigations-source" %}
            <div class="hstack">
                {% input "investigations-fbc" %}
                {% input "investigations-uec" %}
            </div>
            <div class="hstack">
                {% input "investigations-lft" %}
                {% input "investigations-hba1c" %}
            </div>
            <div class="hstack">
                {% input "investigations-haematinics" %}
                {% input "investigations-coags" %}
            </div>
            {% input "investigations-ecg" %}
        </div>
        {% input "investigations-other" classes="bigbox autotall" %}
        
    </div>
</section>
<section id="consent">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_pen_tool.svg' | static_base64 }}">
        <h2><mark class="grey">Consent</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            <clinic-input clinic-parameter="consent-source"></clinic-input>
            <div class="label-ish">
                <span>Pro Forma</span>
                <div>
                    {% input "consent-ga" %}
                    {% input "consent-sedation" %}
                    {% input "consent-regional" %}
                    {% input "consent-neuraxial" %}
                    {% input "consent-artline" %}
                    {% input "consent-cvc" %}
                    {% input "consent-blood" %}
                </div>
            </div>
        </div>
        {% input "consent-notes" classes="bigbox autotall" %}
    </div>
</section>
<section id="risk">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}">
        <h2><mark class="grey">Risk Profile</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack">
            <div class="vstack">
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="stopbang" clinic-calculator-parameter="stopbang-score">
                    <span>STOP-BANG (<span clinic-parameter="stopbang-score"></span>/8)</span> 
                    <div clinic-search="STOP-BANG Calculator">
                        {% input "stopbang-snorer" %}
                        {% input "stopbang-tiredness" %}
                        {% input "stopbang-apnoea" %}
                        {% input "stopbang-hypertensive" %}
                        {% input "stopbang-bmi-35" %}
                        {% input "stopbang-age" %}
                        {% input "stopbang-neck" %}
                        {% input "stopbang-male" %}
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="stopbang-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="stopbang-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                </div>
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="rcri" clinic-calculator-parameter="rcri-score">
                    <span>RCRI (<span clinic-parameter="rcri-score"></span>/6)</span>
                    <div clinic-search="RCRI Calculator">
                        {% input "rcri-risky" %}
                        {% input "rcri-ihd" %}
                        {% input "rcri-ccf" %}
                        {% input "rcri-cva" %}
                        {% input "rcri-insulin" %}
                        {% input "rcri-creatinine" %}
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="rcri-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="rcri-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                    <aside><small>* Peritoneal, thoracic, or supra-inguinal vascular surgery</small></aside>
                </div>
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="apfel" clinic-calculator-parameter="apfel-score">
                    <span>Apfel (<span clinic-parameter="apfel-score"></span></clinic-input>/4)</span>
                    <div clinic-search="Apfel Calculator">
                        {% input "apfel-sex" %}
                        {% input "apfel-smoking" %}
                        {% input "apfel-ponv" %}
                        {% input "apfel-opioids" %}
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="apfel-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="apfel-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                </div>
            </div>
            {% include "clinic/components/sort-score.html" %}
        </div>
    </div>
    
</section>
<section id="plan">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_check_circle.svg' | static_base64 }}">
        <h2><mark class="grey">Plan</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack">
            <div class="vstack">
                {% input "issues" classes="bigbox short autotall" %}
                {% input "plan" classes="bigbox short autotall" %}
            </div>
            {% include "clinic/components/beagle-suggestions.html" %}
        </div>
        <div class="hstack">
            {% input "plan-medications" classes="bigbox short" %}
        </div>
    </div>
</section>
<section id="disclaimer">
    <style>
        @scope {
            p {
                text-align: center;
            }
        }
    </style>
    <p>Every effort has been made to ensure that Periscope won't steer you wrong, but you are still the responsible doctor.</p>
    <p><strong>This software is provided free under the terms of the <a target="_blank" href="https://github.com/samnunn/periscope/blob/main/LICENSE.txt">AGPLv3 License</a>.</strong></p>
</section>
{% endblock %}