
<div class="vstack" id="sort-container">
    <clinic-navigable-list class="vstack">
        <form id="smart-search">
            <label>
                SORT Search ✨
                <div class="hstack">
                    
                    <div class="input-with-hints">
                        <input type="search" name="embed" clinic-search="SORT Score Calculator" autocomplete="off">
                        <div class="hints">
                            <span class="key"><img alt="Up Arrow" src="{{ 'icons/arrow_up.svg' | static_base64 }}"></span><span class="key"><img alt="Down Arrow" src="{{ 'icons/arrow_down.svg' | static_base64 }}"></span> to select  <span class="key"><img alt="Return Key" src="{{ 'icons/arrow_down_left.svg' | static_base64 }}"></span> to add  <span class="key">esc</span> to reset
                        </div>
                    </div>
                    <!-- <button>Search</button> -->
                </div>
            </label>
        </form>
        <ul id="smart-results" class="pill-list"></ul>
    </clinic-navigable-list>
    <label>
        Group
        <div class="selectbox">
            <select id="sort-maingroup">
                <option value="" selected></option>
                <option value="Abdomen (excluding urinary and reproductive organs)">Abdomen (excluding urinary and reproductive organs)</option>
                <option value="Bones, joints and connective tissue/tendon muscle">Bones, joints and connective tissue/tendon muscle</option>
                <option value="Breast">Breast</option>
                <option value="Ear, nose and throat">Ear, nose and throat</option>
                <option value="Endoscopic gastrointestinal procedures">Endoscopic gastrointestinal procedures</option>
                <option value="Eye and orbital contents">Eye and orbital contents</option>
                <option value="Face, mouth, salivary and thyroid">Face, mouth, salivary and thyroid</option>
                <option value="Female reproductive organs">Female reproductive organs</option>
                <option value="Interventional Radiology">Interventional Radiology</option>
                <option value="Neurosurgery (Brain, cranium and intracranial organs)">Neurosurgery (Brain, cranium and intracranial organs)</option>
                <option value="Obstetrics (Pregnancy and confinement)">Obstetrics (Pregnancy and confinement)</option>
                <option value="Skin and subcutaneous tissue">Skin and subcutaneous tissue</option>
                <option value="Spine">Spine</option>
                <option value="Thorax and intra-thoracic organs">Thorax and intra-thoracic organs</option>
                <option value="Urinary system and male reproductive organs">Urinary system and male reproductive organs</option>
                <option value="Vascular System">Vascular System</option>
            </select>
        </div>
    </label>
    <label>
        Sub-Group
        <div class="selectbox">
            <select id="sort-subgroup">
                <option value="" selected></option>
            </select>
        </div>
    </label>
    <label>
        Operation
        <div class="selectbox">
            <select id="sort-operation" clinic-parameter="sort-operation" required>
                <option value="" selected></option>
            </select>
        </div>
    </label>
    <div class="hstack">
        <clinic-input clinic-parameter="patient-age"></clinic-input>
        <clinic-input clinic-parameter="patient-asa"></clinic-input>
    </div>
    <div class="hstack">
        <clinic-input clinic-parameter="sort-urgency"></clinic-input>
        <clinic-input clinic-parameter="sort-malignancy"></clinic-input>
    </div>
    <clinic-input clinic-parameter="sort-tgv"></clinic-input>
    
    <span clinic-calculator-interpretation>
        <span><span clinic-parameter="sort-score"></span> % 30-day mortality</span>
        <clinic-modal-popup>
            <button class="infobutton" tabindex="-1"></button>
            <template>
                <clinic-citation-snippet citation-id="sort-calculator-explanation"></clinic-citation-snippet>
            </template>
        </clinic-modal-popup>
    </span>
    
</div>
<script type="module" src="/static/js/sort-score.js"></script>