:root {
    --header-size: 4rem;
}

/* LAYOUT UTILS */

.wrapped {
    width: calc(100% - 2rem);
    max-width: 850px;
    margin: 0 auto;
}

body {
    background-color: var(--colour-offwhite);
    font-family: system-ui;
}

header {
    height: var(--header-size);
    background-color: gainsboro;
}

/* TEXT */


/* INDIVIDUAL BITS AND BOBS */
header {
    background-color: var(--colour-red);
    color: white;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    #navbar-left {

    }

    #navbar-right {
        display: flex;
        gap: 1rem;
    }
}

#topper {
    position: relative;
    background-color: color-mix(in srgb, var(--colour-red), white 90%);
    clip-path: ellipse(160% 100% at center top);
    text-align: center;
    padding-bottom: 4vh;
}

h1#yell {
    font-size: 4rem;
    margin: 10rem 0;
}

#idea-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    position: relative;
    margin-top: 1rem;
    text-wrap: balance;

    #dot-spacer {
        height: 100px;
    }

    &::before {
        display: block;
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        border-left: var(--border-dots);
    }

    div:nth-child(2n-1) {
        text-align: right;
    }

    .idea-words {
        font-size: 1.6rem;
    }

    .idea-picture {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        padding-bottom: 1rem;
        img {
            height: 12rem;
            transform-origin: center;
            transform: rotate(0deg);
            &:hover {
                transform: rotate(-3deg) scale(1.1);
            }
        }
    }

    .idea-picture:nth-child(2) img {
        transform: rotate(0deg);
        &:hover {
            transform: rotate(1deg) scale(1.1);
        }
    }
}

#call-to-action {
    h1 {
        font-size: 4rem;
        text-align: center;
    }
}

footer {
    text-align: center;
}

@media (max-width: 680px) {
    #idea-grid {
        grid-template-columns: 1fr;
        gap: 2rem;

        .idea-words {
            text-align: center !important;
        }
        .idea-picture {
            display: none;
        }
        &::before {
            display: none;
        }
    }

}