{% extends 'clinic/layouts/clinic_base.html' %}

{% block navigation %}
<li title="Patient Details">
    <span class="icon"><img src="{{ 'icons/gasper_favicon.png' | static_base64 }}"></span>
    <span class="left">Periscope</span>
</li>
<hr>
<li title="Patient Details" role="button" scroll-target="details">
    <span class="icon"><img src="{{ 'icons/colour_bookmark.svg' | static_base64 }}"></span>
    <span class="left">Patient Details</span>
</li>
<li title="Medical History" role="button" scroll-target="medicalhx">
    <span class="icon"><img src="{{ 'icons/colour_heart.svg' | static_base64 }}"></span>
    <span class="left">Medical History</span>
</li>
<li title="Medications" role="button" scroll-target="rx">
    <span class="icon"><img src="{{ 'icons/colour_pill.svg' | static_base64 }}"></span>
    <span class="left">Medications</span>
</li>
<li title="Anaesthesia" role="button" scroll-target="gashx">
    <span class="icon"><img src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}"></span>
    <span class="left">Anaesthesia</span>
</li>
<li title="Investigations" role="button" scroll-target="ix">
    <span class="icon"><img src="{{ 'icons/colour_droplet.svg' | static_base64 }}"></span>
    <span class="left">Investigations</span>
</li>
<li title="Consent" role="button" scroll-target="consent">
    <span class="icon"><img src="{{ 'icons/colour_pen_tool.svg' | static_base64 }}"></span>
    <span class="left">Consent</span>
</li>
<li title="Risk Profile" role="button" scroll-target="risk">
    <span class="icon"><img src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}"></span>
    <span class="left">Risk Profile</span>
</li>
<li title="Summary" role="button" scroll-target="plan">
    <span class="icon"><img src="{{ 'icons/colour_check_circle.svg' | static_base64 }}"></span>
    <span class="left">Summary</span>
</li>
<!-- <li title="Suggestions" role="button" scroll-target="suggestions">
    <span class="icon"><img src="{{ 'icons/colour_brain.svg' | static_base64 }}"></span>
    <span class="left">Suggestions</span>
</li> -->
{% endblock %}

{% block inputs %}
<section id="details">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_bookmark.svg' | static_base64 }}">
        <h2><mark class="grey">Patient Details</mark></h2>
    </div>
    <div class="vstack">
        <div class="hstack">
            {{ clinic_input(template="patient-age") }}
            {{ clinic_input(template="patient-sex") }}
            {{ clinic_input(template="patient-height") }}
            {{ clinic_input(template="patient-weight") }}
            {{ clinic_input(template="patient-bmi") }}
            {{ clinic_input(template="appointment-mode") }}
        </div>
        <div class="hstack">
            {{ clinic_input(template="operation-freetext", classes="quintuple") }}
            <label>
                <span>
                    Estimated Risk
                    <clinic-modal-popup>
                        <button class="infobutton" tabindex="-1"></button>
                        <template>
                            <clinic-citation-snippet citation-id="esc-2022-severity"></clinic-citation-snippet>
                        </template>
                    </clinic-modal-popup>
                </span>
                {{ clinic_input(template="operation-risk", label_visible=False) }}
            </label>
        </div>
    </div>
</section>

<section id="medicalhx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_heart.svg' | static_base64 }}">
        <h2><mark class="grey">Medical History</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        {% include "clinic/components/medical-history.html" %}
        <div class="vstack">
            <div class="hstack">
                {{ clinic_input(template="patient-mets") }}
                {{ clinic_input(name="patient-flat", label="Can Lie Flat", prefix="self", type="select", options=[("Able to lay flat", "Yes"), ("Unable to lay flat comfortably", "No")]) }}
            </div>
            {{ clinic_input(template="patient-mets-details") }}
            {{ clinic_input(template="rockwood-cfs") }}
            <hr>
            <label>
                <span>Smoking</span>
                <div class="hstack">
                    {{ clinic_input(template="smoking-status", label_visible=False) }}
                    {{ clinic_input(template="smoking-details", label_visible=False) }}
                </div>
            </label>
            <div class="hstack">
                {{ clinic_input(template="alcohol-freetext") }}
                {{ clinic_input(template="drugs-freetext") }}
            </div>
            <div class="hstack">
                {{ clinic_input(template="occupation-freetext") }}
                {{ clinic_input(template="functioning-freetext") }}
            </div>
            {{ clinic_input(template="other-shx", classes="bigbox short autotall") }}
        </div>
        
    </div>
</section>

<section id="rx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_pill.svg' | static_base64 }}">
        <h2><mark class="grey">Medications</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        {{ clinic_input(template="medications-freetext", classes="bigbox autotall") }}
        <div class="vstack">
            {{ clinic_input(template="supplements-freetext", classes="bigbox short") }}
            {{ clinic_input(template="allergies-freetext", classes="bigbox short") }}
        </div>
    </div>
</section>

<section id="gashx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}">
        <h2><mark class="grey">Anaesthesia</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            {{ clinic_input(template="previous-anaesthesia-freetext", classes="bigbox autotall") }}
            <div class="vstack">
                {{ clinic_input(template="previous-bvm") }}
                {{ clinic_input(template="previous-lma") }}
                {{ clinic_input(template="previous-ett") }}
                {{ clinic_input(template="previous-anaesthesia-complications") }}
            </div>
            <label>
                Family Issues with Anaesthesia
                <div class="hstack">
                    {{ clinic_input(template="previous-anaesthesia-fhx", label_visible=False) }}
                    {{ clinic_input(template="previous-anaesthesia-fhx-details", label_visible=False) }}
                </div>
            </label>
        </div>
        <div class="vstack">
            <div class="vstack">
                {{ clinic_input(template="airway-dentition") }}
                <div class="hstack">
                    {{ clinic_input(template="airway-mallampati") }}
                    {{ clinic_input(template="airway-mouth-opening") }}
                </div>
                <div class="hstack">
                    {{ clinic_input(template="airway-tmd") }}
                    {{ clinic_input(template="airway-cricothyroid") }}
                </div>
                <div class="hstack">
                    {{ clinic_input(template="airway-jaw-protrusion") }}
                    {{ clinic_input(template="airway-neckrom") }}
                </div>
                <div class="hstack">
                    {{ clinic_input(template="airway-beard") }}
                    {{ clinic_input(template="vein-quality") }}
                </div>
            </div>
            <hr>
            <div class="vstack">
                
                <!-- <h4>General Examination</h4> -->
                <div class="hstack">
                    {{ clinic_input(template="examination-heart") }}
                    {{ clinic_input(template="examination-lungs") }}
                </div>
                {{ clinic_input(template="examination-freetext", classes="bigbox short") }}
            </div>
        </div>
        
    </div>
</section>

<section id="ix">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_droplet.svg' | static_base64 }}">
        <h2><mark class="grey">Investigations</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            {{ clinic_input(template="investigations-source") }}
            <div class="hstack">
                {{ clinic_input(template="investigations-fbc") }}
                {{ clinic_input(template="investigations-uec") }}
            </div>
            <div class="hstack">
                {{ clinic_input(template="investigations-lft") }}
                {{ clinic_input(template="investigations-hba1c") }}
            </div>
            <div class="hstack">
                {{ clinic_input(template="investigations-haematinics") }}
                {{ clinic_input(template="investigations-coags") }}
            </div>
            {{ clinic_input(template="investigations-ecg") }}
        </div>
        {{ clinic_input(template="investigations-other", classes="bigbox autotall") }}
        
    </div>
</section>

<section id="consent">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_pen_tool.svg' | static_base64 }}">
        <h2><mark class="grey">Consent</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            <div class="label-ish">
                <span>Pro Forma</span>
                <div>
                    {{ clinic_input(template="consent-ga") }}
                    {{ clinic_input(template="consent-sedation") }}
                    {{ clinic_input(template="consent-regional") }}
                    {{ clinic_input(template="consent-neuraxial") }}
                    {{ clinic_input(template="consent-artline") }}
                    {{ clinic_input(template="consent-cvc") }}
                    {{ clinic_input(template="consent-blood") }}
                </div>
            </div>
        </div>
        {{ clinic_input(template="consent-notes", classes="bigbox autotall") }}
    </div>
</section>

<section id="risk">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}">
        <h2><mark class="grey">Risk Profile</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack">
            <div class="vstack">
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="stopbang" clinic-calculator-parameter="stopbang-score">
                    <span>STOP-BANG ({{ clinic_input(template="stopbang-score", label_visible=False) }})</span> 
                    <div clinic-search="STOP-BANG Calculator">
                        {{ clinic_input(template="stopbang-snorer") }}
                        {{ clinic_input(template="stopbang-tiredness") }}
                        {{ clinic_input(template="stopbang-apnoea") }}
                        {{ clinic_input(template="stopbang-hypertensive") }}
                        {{ clinic_input(template="stopbang-bmi-35") }}
                        {{ clinic_input(template="stopbang-age") }}
                        {{ clinic_input(template="stopbang-neck") }}
                        {{ clinic_input(template="stopbang-male") }}
                        <span>
                            <span clinic-calculator-interpretation></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="stopbang-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                </div>
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="rcri" clinic-calculator-parameter="rcri-score">
                    <span>RCRI ({{ clinic_input(template="rcri-score", label_visible=False) }})</span>
                    <div clinic-search="RCRI Calculator">
                        {{ clinic_input(template="rcri-risky") }}
                        {{ clinic_input(template="rcri-ihd") }}
                        {{ clinic_input(template="rcri-ccf") }}
                        {{ clinic_input(template="rcri-cva") }}
                        {{ clinic_input(template="rcri-insulin") }}
                        {{ clinic_input(template="rcri-creatinine") }}
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="rcri-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="rcri-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                    <aside><small>* Peritoneal, thoracic, or supra-inguinal vascular surgery</small></aside>
                </div>
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="apfel" clinic-calculator-parameter="apfel-score">
                    <span>Apfel ({{ clinic_input(template="apfel-score", label_visible=False) }})</span>
                    <div clinic-search="Apfel Calculator">
                        {{ clinic_input(template="apfel-sex") }}
                        {{ clinic_input(template="apfel-smoking") }}
                        {{ clinic_input(template="apfel-ponv") }}
                        {{ clinic_input(template="apfel-opioids") }}
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="apfel-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="apfel-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                </div>
            </div>
            {% include "clinic/components/sort-score.html" %}
        </div>
    </div>
    
</section>
{#
<section id="summary">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_check_circle.svg' | static_base64 }}">
        <h2><mark class="grey">Summary</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack" id="keyissues-split" style="column-gap: calc(var(--hstack-gap) * 2);">
            <div class="vstack">
                {{ clinic_input(name="issues", type="textarea", label="Key Issues", prefix="self", classes="bigbox short autotall") }}
                {{ clinic_input(name="plan", type="textarea", label="Anaesthetic Plan", prefix="self", classes="bigbox short autotall") }}
            </div>
            <div class="label-ish">
                <span> </span> 
                <!-- dodgy… -->
                <div class="vstack" id="pathology-summary">
                    {{ clinic_input(name="summary-previous-anaesthesia", label="Prev. Anaesthesia", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-anaesthesia-issues", label="Anaesthesia Issues", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-anaesthesia-issues-fhx", label="Family History", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-mets", label="≤ 4 METs", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-cardiovascular", label="Cardiovascular", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-respiratory", label="Respiratory", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-gord", label="GORD", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-endocrine", label="DM/Endocrine", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-cns", label="CNS", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-chronic-pain", label="Chronic Pain", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-alcohol", label="Alcohol", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-smoking", label="Smoking", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-subtance-use", label="Substance Use", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                </div>
            </div>
        </div>
    </div>
</section>
#}
<section id="summary" hidden></section>
<section id="plan">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_check_circle.svg' | static_base64 }}">
        <h2><mark class="grey">Summary</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack" style="grid-template-columns: 1fr 32ch; column-gap: calc(1.5 * var(--hstack-gap));">
            <div class="vstack">
                {{ clinic_input(name="issues", type="textarea", label="Key Issues", prefix="self", classes="bigbox short autotall") }}
                {{ clinic_input(name="plan", type="textarea", label="Anaesthetic Plan", prefix="self", classes="bigbox short autotall") }}
            </div>
            <div class="vstack">
                {{ clinic_input(template="patient-asa") }}
                <label>
                    <span>
                        Estimated Risk
                        <clinic-modal-popup>
                            <button class="infobutton" tabindex="-1"></button>
                            <template>
                                <clinic-citation-snippet citation-id="esc-2022-severity"></clinic-citation-snippet>
                            </template>
                        </clinic-modal-popup>
                    </span>
                    {{ clinic_input(template="operation-risk", label_visible=False) }}
                </label>
                <div class="label-ish">
                    <span> </span>
                    {{ clinic_input(name="summary-previous-anaesthesia", label="Prev. Anaesthesia", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-anaesthesia-issues", label="Anaesthesia Issues", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-anaesthesia-issues-fhx", label="Family History", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-mets", label="≤ 4 METs", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-cardiovascular", label="Cardiovascular", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-respiratory", label="Respiratory", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-gord", label="GORD", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-endocrine", label="DM/Endocrine", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-cns", label="CNS", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-chronic-pain", label="Chronic Pain", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-alcohol", label="Alcohol", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-smoking", label="Smoking", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                    {{ clinic_input(name="summary-subtance-use", label="Substance Use", type="radio", options=[("no", "❌"), ("unknown", "–"), ("yes", "✅")], default="unknown") }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="suggestions">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_brain.svg' | static_base64 }}">
        <h2><mark class="grey">Suggestions</mark></h2>
    </div>
        <div class="vstack" id="warnings-container">
            <div class="label-ish">

                <div id="redcap-prompts">
                    <ul class="pill-list">
                    </ul>
                </div>
                <div id="warnings">
                </div>
            </div>
        </div>

</section>
<section id="disclaimer">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_alert_octagon.svg' | static_base64 }}">
        <h2><mark class="grey">Disclaimer</mark></h2>
    </div>
    <p>Every effort has been made to ensure that Periscope won't steer you wrong, but you are still the responsible doctor.</p>
    <p>Periscope is provided “as is”, without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. in no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.</p>
</section>

{% endblock %}