<template id="clinic-prettyprint">

<style>{% include "clinic/css/print.css" %}</style>
<div id="addressograph">
    ATTACH PATIENT LABEL
</div>
<header>
    <h1>Anaesthetic Assessment</h1>
</header>
<aside class="vstack">
    <div class="hstack" id="age-asa-alert">
        <div class="box" id="age-alert">
            <span>98M</span>
        </div>
        <div class="box" id="asa-alert">
            <span>ASA</span>
            <span>1</span>
        </div>
    </div>
    <div class="box alert" id="allergies-alert">
        <span>NKDA</span>
    </div>
    <div class="box vstack">
        <h3>Summary</h3>
        <table class="summary-table">
            <tbody>
                <tr>
                    <td class="summary-label">Previous Anaesthesia</td>
                    <td class="summary-indicator">✅</td>
                </tr>
                <tr>
                    <td class="summary-label">Anaesthesia Issues</td>
                    <td class="summary-indicator">❌</td>
                </tr>
                <tr>
                    <td class="summary-label">Family History</td>
                    <td class="summary-indicator">❌</td>
                </tr>
                <tr>
                    <td class="summary-label">&lt; 4 METs</td>
                    <td class="summary-indicator">✅</td>
                </tr>
                <tr>
                    <td class="summary-label">Cardiovascular</td>
                    <td class="summary-indicator">✅</td>
                </tr>
                <tr>
                    <td class="summary-label">Respiratory</td>
                    <td class="summary-indicator">✅</td>
                </tr>
                <tr>
                    <td class="summary-label">GORD</td>
                    <td class="summary-indicator">✅</td>
                </tr>
                <tr>
                    <td class="summary-label">Diabetes</td>
                    <td class="summary-indicator">✅</td>
                </tr>
                <tr>
                    <td class="summary-label">Neurological</td>
                    <td class="summary-indicator">✅</td>
                </tr>
                <tr>
                    <td class="summary-label">Chronic Pain</td>
                    <td class="summary-indicator">❌</td>
                </tr>
                <tr>
                    <td class="summary-label">Alcohol</td>
                    <td class="summary-indicator">❌</td>
                </tr>
                <tr>
                    <td class="summary-label">Smoking</td>
                    <td class="summary-indicator">❌</td>
                </tr>
                <tr>
                    <td class="summary-label">Substance Use</td>
                    <td class="summary-indicator">✅</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box vstack" id="anthropometry">
        <h3>Anthropometry</h3>
        <div class="hstack" id="anthropometry">
            <table class="summary-table">
                <tbody>
                    <tr>
                        <td>Height</td>
                        <td>183 cm</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>99 kg</td>
                    </tr>
                    <tr>
                        <td>↳ IBW</td>
                        <td>75 kg</td>
                    </tr>
                    <tr>
                        <td>↳ ABW</td>
                        <td>82 kg</td>
                    </tr>
                </tbody>
            </table>
            <div class="" id="bmi">
                <span>BMI</span>
                <span>29</span>
            </div>
        </div>
    </div>
    <div class="box vstack">
        <h3>Airway</h3>
        <table class="summary-table">
            <tbody>
                <tr>
                    <td class="airway-parameter">Mallampati</td>
                    <td class="airway-value">1</td>
                </tr>
                <tr>
                    <td class="airway-parameter">TMD</td>
                    <td class="airway-value">5 cm</td>
                </tr>
                <tr>
                    <td class="airway-parameter">Mouth Open.</td>
                    <td class="airway-value">3 cm</td>
                </tr>
                <tr>
                    <td class="airway-parameter">Neck ROM</td>
                    <td class="airway-value">Limited</td>
                </tr>
                <tr>
                    <td class="airway-parameter">Beard</td>
                    <td class="airway-value">Won't trim</td>
                </tr>
                <tr>
                    <td class="airway-parameter">Cricothyroid</td>
                    <td class="airway-value">Impalpable</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="box alert" id="airway-alert">
        <span>DIFFICULT AIRWAY</span>
    </div> -->
</aside>

<!-- <section id="key-issues">
    <h2>Key Issues</h2>
</section>
<section id="pmhx">
    <h2>Medical History</h2>
</section>
<section>
    <h2>Tootle Pip</h2>
    <p>Middle page stuff.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section>
    <h2>Previous Anaesthesia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section id="plan">
    <h2>Anaesthetic Plan</h2>
</section> -->
</template>