{% extends 'html/clinic.html' %}
{% block navigation %}
<li title="Patient Details">
    <span class="icon"><img src="{{ 'icons/gasper_favicon.png' | static_base64 }}"></span>
    <span class="left">Periscope</span>
</li>
<hr>
<li title="Patient Details" role="button" scroll-target="details">
    <span class="icon"><img src="{{ 'icons/colour_bookmark.svg' | static_base64 }}"></span>
    <span class="left">Patient Details</span>
</li>
<li title="Triage" role="button" scroll-target="triage">
    <span class="icon"><img src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}"></span>
    <span class="left">Triage</span>
</li>
<li title="Medical History" role="button" scroll-target="medicalhx">
    <span class="icon"><img src="{{ 'icons/colour_heart.svg' | static_base64 }}"></span>
    <span class="left">Medical History</span>
</li>
<li title="Anaesthesia" role="button" scroll-target="gashx">
    <span class="icon"><img src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}"></span>
    <span class="left">Anaesthesia</span>
</li>
<li title="Plan" role="button" scroll-target="plan">
    <span class="icon"><img src="{{ 'icons/colour_check_circle.svg' | static_base64 }}"></span>
    <span class="left">Plan</span>
</li>
{% endblock %}

{% block inputs %}
<section id="details">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_bookmark.svg' | static_base64 }}">
        <h2><mark class="grey">Patient Details</mark></h2>
    </div>
    <div class="hstack">
        <clinic-input clinic-parameter="patient-age"></clinic-input>
        <clinic-input clinic-parameter="patient-sex"></clinic-input>
        <clinic-input clinic-parameter="patient-height"></clinic-input>
        <clinic-input clinic-parameter="patient-weight"></clinic-input>
        <clinic-input clinic-parameter="patient-bmi"></clinic-input>
        <clinic-input clinic-parameter="patient-asa"></clinic-input>
    </div>
</section>
<section id="triage">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}">
        <h2><mark class="grey">Triage</mark></h2>
    </div>
    <div class="hstack">
        <div class="vstack">
            <h4>Yellow Flags</h4>
            <div class="hstack">
                <div class="vstack">
                    <clinic-input clinic-parameter="patient-cataract-lay-flat"></clinic-input>
                    <clinic-input clinic-parameter="patient-language-barrier"></clinic-input>
                    <clinic-input clinic-parameter="patient-deaf"></clinic-input>
                    <clinic-input clinic-parameter="patient-cognitive-impairment"></clinic-input>
                    <clinic-input clinic-parameter="patient-unable-to-communicate"></clinic-input>
                </div>
                <div class="vstack">
                    <clinic-input clinic-parameter="patient-ppmicd"></clinic-input>
                    <clinic-input clinic-parameter="patient-known-difficult-airway"></clinic-input>
                    <clinic-input clinic-parameter="patient-known-mh"></clinic-input>
                    <clinic-input clinic-parameter="patient-recent-respiratory-illness"></clinic-input>
                    <clinic-input clinic-parameter="patient-public-guardian"></clinic-input>
                </div>

            </div>
            <h4>Red Flags</h4>
            <div class="hstack">
                <div class="vstack">
                    <clinic-input clinic-parameter="patient-recent-cardiac-event"></clinic-input>
                    <clinic-input clinic-parameter="patient-recent-pe"></clinic-input>
                    <clinic-input clinic-parameter="patient-recent-stroke"></clinic-input>
                </div>
            </div>
        </div>
        <div class="vstack">
            <style>
                #dial-divot {
                    flex-grow: 1;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                }
                #dial {
                    user-select: none;
                    pointer-events: none;

                    margin-top: 3rem;
                    width: 50%;
                    max-width: 350px;
                    position: relative;
                    #needle {
                        --needle-width: 10%;
                        width: var(--needle-width);
                        position: absolute;
                        bottom: calc(0px - 0.5 * var(--needle-width));
                        left: calc(50% - 0.5 * var(--needle-width));
                        transform-origin: center 84%;
                        rotate: 40deg;
                    }
                }
            </style>
            <div id="dial-divot" class="">
                <div id="dial">
                    <img src="{{ 'icons/warning_dial.svg' | static_base64 }}" alt="">
                    <img src="{{ 'icons/warning_dial_needle.svg' | static_base64 }}" alt="" id="needle">
                </div>
                <p id="dial-advice"></p>
            </div>
            <script type="module">
                let needle = document.querySelector('#needle')
                let advice = document.querySelector('#dial-advice')
                function moveDial() {
                    let risk = evaluateScreeningRisk()
                    if (risk == "red") {
                        needle.style.rotate = "-22deg"
                        advice.innerText = "Refer for pre-operative assessment."
                    } else if (risk == "yellow") {
                        needle.style.rotate = "22deg"
                        advice.innerText = "Discuss with anaesthetist."
                    } else {
                        needle.style.rotate = "67deg"
                        advice.innerText = "Continue assessment."
                    }
                }
                function evaluateScreeningRisk() {
                    if (checkRedFlags()) return "red"
                    if (checkYellowFlags()) return "yellow"
                    return "green"
                }
                function checkRedFlags() {
                    if (parseInt(document.persistentDataProxy["patient-asa"]) > 4) return true
                    if (/less/i.test(document.persistentDataProxy["patient-mets"])) return true
                    let redFlags = [
                        "patient-recent-cardiac-event",
                        "patient-recent-pe",
                        "patient-recent-stroke",
                    ]
                    if (redFlags.some(key => document.persistentDataProxy[key])) return true
                }
                function checkYellowFlags() {
                    if (parseInt(document.persistentDataProxy["patient-asa"]) == 4) return true
                    let yellowFlags = [
                        "patient-cataract-lay-flat",
                        "patient-language-barrier",
                        "patient-deaf",
                        "patient-cognitive-impairment",
                        "patient-unable-to-communicate",
                        "patient-ppmicd",
                        "patient-known-difficult-airway",
                        "patient-known-mh",
                        "patient-recent-respiratory-illness",
                        "patient-public-guardian",
                    ]
                    if (yellowFlags.some(key => document.persistentDataProxy[key])) return true
                }
                window.addEventListener("DOMContentLoaded", moveDial)
                document.addEventListener('clinic:value-changed', moveDial)
            </script>
        </div>
    </div>
</section>

<section id="medicalhx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_heart.svg' | static_base64 }}">
        <h2><mark class="grey">Medical History</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        {% include "html/components/medical-history.html" %}
        <div class="vstack">
            <clinic-input clinic-parameter="medications-freetext" class="bigbox medium"></clinic-input>
            <clinic-input clinic-parameter="allergies-freetext" class="bigbox short autotall"></clinic-input>
            <hr>
            <label>
                <span>Smoking</span>
                <div class="hstack">
                    <clinic-input clinic-parameter="smoking-status" label="false"></clinic-input>
                    <clinic-input clinic-parameter="smoking-details" label="false"></clinic-input>
                </div>
            </label>
            <div class="hstack">
                <clinic-input clinic-parameter="alcohol-freetext"></clinic-input>
                <clinic-input clinic-parameter="drugs-freetext"></clinic-input>
            </div>
        </div>
        
    </div>
</section>
<section id="gashx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}">
        <h2><mark class="grey">Anaesthesia</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            <clinic-input clinic-parameter="previous-anaesthesia-freetext" class="bigbox medium"></clinic-input>
        </div>
        <div class="vstack">
            <clinic-input clinic-parameter="previous-anaesthesia-complications"></clinic-input>
            <label>
                Family Issues with Anaesthesia
                <div class="hstack">
                    <clinic-input clinic-parameter="previous-anaesthesia-fhx" label="false"></clinic-input>
                    <clinic-input clinic-parameter="previous-anaesthesia-fhx-details" label="false"></clinic-input>
                </div>
            </label>
        </div>
        
    </div>
</section>

<section id="plan">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_check_circle.svg' | static_base64 }}">
        <h2><mark class="grey">Plan</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack">
            <div class="vstack">
                <clinic-input clinic-parameter="issues" class="bigbox short autotall"></clinic-input>
                <clinic-input clinic-parameter="plan" class="bigbox short autotall"></clinic-input>
            </div>
            <div class="vstack" id="warnings-container">
                <div class="label-ish">
                    Smart Suggestions ✨
                    <div id="warnings">
                    </div>
                </div>
            </div>
        </div>
        <div class="hstack">
            <clinic-input clinic-parameter="plan-medications" class="bigbox short"></clinic-input>
        </div>
    </div>
</section>
{% endblock %}