{% extends 'html/clinic.html' %}
{% block navigation %}
<li title="Patient Details">
    <span class="icon"><img src="{{ 'icons/gasper_favicon.png' | static_base64 }}"></span>
    <span class="left">Periscope</span>
</li>
<hr>
<li title="Patient Details" role="button" scroll-target="details">
    <span class="icon"><img src="{{ 'icons/colour_bookmark.svg' | static_base64 }}"></span>
    <span class="left">Patient Details</span>
</li>
<li title="Medical History" role="button" scroll-target="medicalhx">
    <span class="icon"><img src="{{ 'icons/colour_heart.svg' | static_base64 }}"></span>
    <span class="left">Medical History</span>
</li>
<li title="Medications" role="button" scroll-target="rx">
    <span class="icon"><img src="{{ 'icons/colour_pill.svg' | static_base64 }}"></span>
    <span class="left">Medications</span>
</li>
<li title="Anaesthesia" role="button" scroll-target="gashx">
    <span class="icon"><img src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}"></span>
    <span class="left">Anaesthesia</span>
</li>
<li title="Investigations" role="button" scroll-target="ix">
    <span class="icon"><img src="{{ 'icons/colour_droplet.svg' | static_base64 }}"></span>
    <span class="left">Investigations</span>
</li>
<li title="Consent" role="button" scroll-target="consent">
    <span class="icon"><img src="{{ 'icons/colour_pen_tool.svg' | static_base64 }}"></span>
    <span class="left">Consent</span>
</li>
<li title="Risk Profile" role="button" scroll-target="risk">
    <span class="icon"><img src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}"></span>
    <span class="left">Risk Profile</span>
</li>
<li title="Plan" role="button" scroll-target="plan">
    <span class="icon"><img src="{{ 'icons/colour_check_circle.svg' | static_base64 }}"></span>
    <span class="left">Plan</span>
</li>
{% endblock %}
{% block inputs %}
<section id="details">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_bookmark.svg' | static_base64 }}">
        <h2><mark class="grey">Patient Details</mark></h2>
    </div>
    <div class="vstack">
        <div class="hstack">
            <clinic-input clinic-parameter="patient-age"></clinic-input>
            <clinic-input clinic-parameter="patient-sex"></clinic-input>
            <clinic-input clinic-parameter="patient-height"></clinic-input>
            <clinic-input clinic-parameter="patient-weight"></clinic-input>
            <clinic-input clinic-parameter="patient-bmi"></clinic-input>
            <clinic-input clinic-parameter="appointment-mode"></clinic-input>
        </div>
        <div class="hstack">
            <clinic-input clinic-parameter="operation-freetext" class="quintuple"></clinic-input>
            <clinic-input clinic-parameter="operation-risk"></clinic-input>
        </div>
    </div>
</section>
<section id="medicalhx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_heart.svg' | static_base64 }}">
        <h2><mark class="grey">Medical History</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        {% include "html/clinic/components/medical-history.html" %}
        <div class="vstack">
            <div class="hstack">
                <clinic-input clinic-parameter="patient-mets"></clinic-input>
                <clinic-input clinic-parameter="patient-flat"></clinic-input>
            </div>
            <clinic-input clinic-parameter="patient-mets-details"></clinic-input>
            <clinic-input clinic-parameter="rockwood-cfs"></clinic-input>
            <hr>
            <label>
                <span>Smoking</span>
                <div class="hstack">
                    <clinic-input clinic-parameter="smoking-status" label="false"></clinic-input>
                    <clinic-input clinic-parameter="smoking-details" label="false"></clinic-input>
                </div>
            </label>
            <div class="hstack">
                <clinic-input clinic-parameter="alcohol-freetext"></clinic-input>
                <clinic-input clinic-parameter="drugs-freetext"></clinic-input>
            </div>
            <div class="hstack">
                <clinic-input clinic-parameter="occupation-freetext"></clinic-input>
                <clinic-input clinic-parameter="functioning-freetext"></clinic-input>
            </div>
            <clinic-input clinic-parameter="other-shx" class="bigbox short autotall"></clinic-input>
        </div>
        
    </div>
</section>
<section id="rx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_pill.svg' | static_base64 }}">
        <h2><mark class="grey">Medications</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <clinic-input clinic-parameter="medications-freetext" class="bigbox autotall"></clinic-input>
        <div class="vstack">
            <clinic-input clinic-parameter="supplements-freetext" class="bigbox short"></clinic-input>
            <clinic-input clinic-parameter="allergies-freetext" class="bigbox short"></clinic-input>
        </div>
    </div>
</section>
<section id="gashx">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_gas_mask.svg' | static_base64 }}">
        <h2><mark class="grey">Anaesthesia</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            <clinic-input clinic-parameter="previous-anaesthesia-freetext" class="bigbox autotall"></clinic-input>
            <div class="vstack">
                <clinic-input clinic-parameter="previous-bvm"></clinic-input>
                <clinic-input clinic-parameter="previous-lma"></clinic-input>
                <clinic-input clinic-parameter="previous-ett"></clinic-input>
                <clinic-input clinic-parameter="previous-anaesthesia-complications"></clinic-input>
            </div>
            <label>
                Family Issues with Anaesthesia
                <div class="hstack">
                    <clinic-input clinic-parameter="previous-anaesthesia-fhx" label="false"></clinic-input>
                    <clinic-input clinic-parameter="previous-anaesthesia-fhx-details" label="false"></clinic-input>
                </div>
            </label>
        </div>
        <div class="vstack">
            <div class="vstack">
                <clinic-input clinic-parameter="airway-dentition"></clinic-input>
                <div class="hstack">
                    <clinic-input clinic-parameter="airway-mallampati"></clinic-input>
                    <clinic-input clinic-parameter="airway-mouth-opening"></clinic-input>
                </div>
                <div class="hstack">
                    <clinic-input clinic-parameter="airway-tmd"></clinic-input>
                    <clinic-input clinic-parameter="airway-cricothyroid"></clinic-input>
                </div>
                <div class="hstack">
                    <clinic-input clinic-parameter="airway-jaw-protrusion"></clinic-input>
                    <clinic-input clinic-parameter="airway-neckrom"></clinic-input>
                </div>
                <div class="hstack">
                    <clinic-input clinic-parameter="airway-beard"></clinic-input>
                    <clinic-input clinic-parameter="vein-quality"></clinic-input>
                </div>
            </div>
            <hr>
            <div class="vstack">
                
                <!-- <h4>General Examination</h4> -->
                <div class="hstack">
                    <clinic-input clinic-parameter="examination-heart"></clinic-input>
                    <clinic-input clinic-parameter="examination-lungs"></clinic-input>
                </div>
                <clinic-input clinic-parameter="examination-freetext" class="bigbox short"></clinic-input>
            </div>
            <input type="text" clinic-parameter="mode" class="visually-hidden">
        </div>
        
    </div>
</section>
<section id="ix">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_droplet.svg' | static_base64 }}">
        <h2><mark class="grey">Investigations</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            <clinic-input clinic-parameter="investigations-source"></clinic-input>
            <div class="hstack">
                <clinic-input clinic-parameter="investigations-fbc"></clinic-input>
                <clinic-input clinic-parameter="investigations-uec"></clinic-input>
            </div>
            <div class="hstack">
                <clinic-input clinic-parameter="investigations-lft"></clinic-input>
                <clinic-input clinic-parameter="investigations-hba1c"></clinic-input>
            </div>
            <div class="hstack">
                <clinic-input clinic-parameter="investigations-haematinics"></clinic-input>
                <clinic-input clinic-parameter="investigations-coags"></clinic-input>
            </div>
            <clinic-input clinic-parameter="investigations-ecg"></clinic-input>
        </div>
        <clinic-input clinic-parameter="investigations-other" class="bigbox autotall"></clinic-input>
        
    </div>
</section>
<section id="consent">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_pen_tool.svg' | static_base64 }}">
        <h2><mark class="grey">Consent</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="hstack">
        <div class="vstack">
            <clinic-input clinic-parameter="consent-source"></clinic-input>
            <div class="label-ish">
                <span>Pro Forma</span>
                <div>
                    <label><clinic-input clinic-parameter="consent-ga" label="false"></clinic-input>General Anaesthesia</label>
                    <label><clinic-input clinic-parameter="consent-sedation" label="false"></clinic-input>Sedation</label>
                    <label><clinic-input clinic-parameter="consent-regional" label="false"></clinic-input>Regional</label>
                    <label><clinic-input clinic-parameter="consent-neuraxial" label="false"></clinic-input>Neuraxial</label>
                    <label><clinic-input clinic-parameter="consent-artline" label="false"></clinic-input>Arterial Line</label>
                    <label><clinic-input clinic-parameter="consent-cvc" label="false"></clinic-input>Central Venous Access</label>
                    <label><clinic-input clinic-parameter="consent-blood" label="false"></clinic-input>Blood Products</label>
                </div>
            </div>
        </div>
        <clinic-input clinic-parameter="consent-notes" class="bigbox autotall"></clinic-input>
    </div>
</section>
<section id="risk">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_life_buoy.svg' | static_base64 }}">
        <h2><mark class="grey">Risk Profile</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack">
            <div class="vstack">
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="stopbang" clinic-calculator-parameter="stopbang-score">
                    <span>STOP-BANG (<span clinic-parameter="stopbang-score"></span>/8)</span> 
                    <div clinic-search="STOP-BANG Calculator">
                        <label><clinic-input label="false" clinic-parameter="stopbang-snorer"></clinic-input>Snorer</label>
                        <label><clinic-input label="false" clinic-parameter="stopbang-tiredness"></clinic-input>Tiredness</label>
                        <label><clinic-input label="false" clinic-parameter="stopbang-apnoea"></clinic-input>Observed apnoea</label>
                        <label><clinic-input label="false" clinic-parameter="stopbang-hypertensive"></clinic-input>Hypertensive</label>
                        <label><clinic-input label="false" clinic-parameter="stopbang-bmi-35"></clinic-input>BMI > 35</label>
                        <label><clinic-input label="false" clinic-parameter="stopbang-age"></clinic-input>Age > 50</label>
                        <label><clinic-input label="false" clinic-parameter="stopbang-neck"></clinic-input>Neck ≥ 40cm</label>
                        <label><clinic-input label="false" clinic-parameter="stopbang-male"></clinic-input>Male</label>
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="stopbang-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="stopbang-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                </div>
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="rcri" clinic-calculator-parameter="rcri-score">
                    <span>RCRI (<span clinic-parameter="rcri-score"></span>/6)</span>
                    <div clinic-search="RCRI Calculator">
                        <label><clinic-input label="false" clinic-parameter="rcri-risky"></clinic-input>Elevated Risk*</label>
                        <label><clinic-input label="false" clinic-parameter="rcri-ihd"></clinic-input>IHD</label>
                        <label><clinic-input label="false" clinic-parameter="rcri-ccf"></clinic-input>CCF</label>
                        <label><clinic-input label="false" clinic-parameter="rcri-cva"></clinic-input>CVA</label>
                        <label><clinic-input label="false" clinic-parameter="rcri-insulin"></clinic-input>On insulin</label>
                        <label><clinic-input label="false" clinic-parameter="rcri-creatinine"></clinic-input>Cr > 176.8 μmol/L</label>
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="rcri-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="rcri-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                    <aside><small>* Peritoneal, thoracic, or supra-inguinal vascular surgery</small></aside>
                </div>
                <div class="label-ish" clinic-calculator clinic-calculator-interpreter="apfel" clinic-calculator-parameter="apfel-score">
                    <span>Apfel (<span clinic-parameter="apfel-score"></span></clinic-input>/4)</span>
                    <div clinic-search="Apfel Calculator">
                        <label><clinic-input label="false" clinic-parameter="apfel-sex"></clinic-input>Female</label>
                        <label><clinic-input label="false" clinic-parameter="apfel-smoking"></clinic-input>Non-smoker</label>
                        <label><clinic-input label="false" clinic-parameter="apfel-ponv"></clinic-input>Prior PONV</label>
                        <label><clinic-input label="false" clinic-parameter="apfel-opioids"></clinic-input>Postop opioids</label>
                        <span>
                            <span clinic-calculator-interpretation clinic-parameter="apfel-interpretation"></span>
                            <clinic-modal-popup>
                                <button class="infobutton" tabindex="-1"></button>
                                <template>
                                    <clinic-citation-snippet citation-id="apfel-interpretation"></clinic-citation-snippet>
                                </template>
                            </clinic-modal-popup>
                        </span>
                    </div>
                </div>
            </div>
            {% include "html/clinic/components/sort-score.html" %}
        </div>
    </div>
    
</section>
<section id="plan">
    <div class="section-topper">
        <img class="icon" src="{{ 'icons/colour_check_circle.svg' | static_base64 }}">
        <h2><mark class="grey">Plan</mark></h2>
        <button tabindex="2" class="section-copy">Copy Section</button>
    </div>
    <div class="vstack">
        <div class="hstack">
            <div class="vstack">
                <clinic-input clinic-parameter="issues" class="bigbox short autotall"></clinic-input>
                <clinic-input clinic-parameter="plan" class="bigbox short autotall"></clinic-input>
            </div>
            <div class="vstack" id="warnings-container">
                <div class="label-ish">
                    Smart Suggestions ✨
                    <div id="warnings">
                    </div>
                </div>
            </div>
        </div>
        <div class="hstack">
            <clinic-input clinic-parameter="plan-medications" class="bigbox short"></clinic-input>
        </div>
    </div>
</section>
{% endblock %}