{% extends 'shared/html/base.html' %}
{% load clinic_tags %}
{% block head %}
<meta name="theme-color" content="#1e272e" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#1e272e" media="(prefers-color-scheme: light)">
{% endblock %}

{% block content %}
<!-- STATIC DATA -->
<script>window.procedures = {{ 'data/sort-data.json' | static_include | safe }}</script>
<script>{{ 'data/input-data.js' | static_include | safe }}</script>
<script>{% include "clinic/data/diagnosis-data.js" %}</script>

<!-- PAGE MARKUP -->
<div id="tab-box">
    <nav id="sidebar" aria-expanded="true">
        <ul>
            {% block navigation %}
            {% endblock %}
            <hr>
            {% if flags.tenant %}
            <li title="Connect your hospital" role="button" dialog="authorisation">
                <span class="icon"><img src="{{ 'icons/colour_globe.svg' | static_base64 }}"></span>
                {% if request.session.tenant_data %}
                <span class="left">Connected</span>
                <span class="right">🟢</span>
                {% else %}
                <span class="left">Connect</span>
                <span class="right">🔴</span>
                {% endif %}
            </li>
            {% endif %}

            {% if flags.redcap and request.session.tenant_data %}
            <li title="Export to REDCap" role="button" dialog="redcap">
                <span class="icon"><img src="{{ 'icons/colour_cap.svg' | static_base64 }}"></span>
                <span class="left">REDCap</span>
            </li>
            {% endif %}
            <li title="Shortcuts" role="button" id="shortcuts-button">
                <span class="icon"><img src="{{ 'icons/colour_fast_forward.svg' | static_base64 }}"></span>
                <span class="left">Shortcuts</span>
            </li>
            <li title="Search (⌘K)" role="button" id="quick-find-button">
                <span class="icon"><img src="{{ 'icons/colour_search.svg' | static_base64 }}"></span>
                <span class="left">Search</span>
                <span class="right">⌘K</span>
            </li>
            
            <hr>
            <li id="download" title="Download" role="button">
                <span class="icon"><img src="{{ 'icons/colour_arrow_down_circle.svg' | static_base64 }}"></span>
                <span class="left">Download</span>
            </li>
            <li id="reset" title="Reset" role="button">
                <span class="icon"><img src="{{ 'icons/colour_zap.svg' | static_base64 }}"></span>
                <span class="left">Reset</span>
            </li>
            <hr>
            
            <a class="invisible-link" target="_blank" href="https://github.com/samnunn/periscope">
                <li title="Link to this project's source code" role="button">
                    <span class="icon"><img src="{{ 'icons/github_mark.svg' | static_base64 }}"></span>
                    <span class="left">Source Code</span>
                </li>
            </a>
            <a class="invisible-link" href="mailto:hello@gasnotes.net?subject=Bug%20Report%20for%20Periscope">
                <li title="Report a Bug" role="button">
                    <span class="icon"><img src="{{ 'icons/colour_bug.svg' | static_base64 }}"></span>
                    <span class="left">Report a Bug</span>
                </li>
            </a>
            <li title="Link to this tool's terms" onclick="document.querySelector('#big-welcome').showModal()" role="button">
                <span class="icon"><img src="{{ 'icons/colour_edit.svg' | static_base64 }}"></span>
                <span class="left">Terms</span>
            </li>
            <hr>
            <li title="Toggle menu" role="button" id="sidebar-lock">
                <span class="icon" id="icon-locked"><img src="{{ 'icons/colour_lock.svg' | static_base64 }}"></span>
                <span class="icon" id="icon-unlocked"><img src="{{ 'icons/colour_unlock.svg' | static_base64 }}"></span>
                <span class="left"></span>
            </li>
        </ul>
    </nav>
    <main id="tab-display">
        {% block inputs %}
        {% endblock %}=
    </main>
</div>
<!-- TOASTS -->
{% if flags.toasts %}
{% include 'clinic/components/toasts.html' %}
{% endif %}

<!-- DIALOGUES -->
{% include 'clinic/components/modal-welcome.html' %}
{% include 'clinic/components/quick-find.html' %}
{% include 'clinic/components/shortcuts.html' %}

{% if flags.tenant %}
{% include 'clinic/components/modal-tenant-connect.html' %}
{% endif %}

{% if flags.redcap %}
    {% include 'clinic/components/modal-redcap.html' %}
{% endif %}

<!-- SCRIPTS -->
<script type="module">{{ 'js/data-persistence.js' | static_include | safe }}</script>
<script>{{ 'js/clinic-inputs.js' | static_include | safe }}</script>
<script>{{ 'js/fuzzysort.min.js' | static_include | safe }}</script>
<script type="module">{{ 'js/clinic.js' | static_include | safe }}</script>

<!-- DIALOGS -->
{% endblock %}