<!DOCTYPE html>
<html>
<head>
    <title>Periscope</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#60a3bc" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#60a3bc" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/x-icon" href="/static/icons/gasper_favicon.png">
    <!-- OpenGraph Nonsense -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Clinic Helper">
    <meta property="og:title" content="Welcome to Clinic Helper">
    <meta name="description" content="A little web app to help perioperative doctors get through their clinic days.">
    <meta property="og:description" content="A little web app to help perioperative doctors get through their clinic days.">
    <link rel="canonical" href="https://clinic.gasnotes.net/">
    <meta property="og:url" content="https://clinic.gasnotes.net/">
    <meta property="og:image" content="https://clinic.gasnotes.net/clinic-opengraph-banner.jpg">
</head>
<body>
<header id="navbar-top">
    <div id="navbar-wrap" class="wrapped">
        <nav id="navbar-left">
            <h1 id="site-title">Periscope</h1>
        </nav>
        <nav id="navbar-right">
            <ul>
                <li>One</li>
                <li>One</li>
                <li>One</li>
            </ul>
        </nav>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
</html>