{% load clinic_tags %}
:root {
    --header-size: 4rem;
    --colour-palered: color-mix(in srgb, var(--colour-darkgrey), white 10%);
}

/* LAYOUT UTILS */

.wrapped {
    width: calc(100% - 2rem);
    max-width: 850px;
    margin: 0 auto;
}

body {
    background-color: var(--colour-offwhite);
    font-family: system-ui;
}

header {
    height: var(--header-size);
    background-color: var(--colour-darkgrey);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    #navbar-left {

    }

    #navbar-right {
        display: flex;
        gap: 1rem;
        * {
            color: white !important;
            text-decoration: none;
        }
        *:hover {
            text-decoration: underline;
        }
    }
}

#topper {
    height: calc(max(8rem, 20vw + 20vh));
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: ellipse(160% 100% at center top);
    text-align: center;
    padding-bottom: 4vh;
    background-color: var(--colour-palered);
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
        z-index: -1;
        background-image: url({{ 'illustrations/molecules.svg' | static_base64 }});
        /* mix-blend-mode: multiply; */
        filter: invert(1);
    }

    h1 {
        span {
            background-color: var(--colour-palered);
            box-shadow: 0 0 0.5ch 0.25ch var(--colour-palered);
            border-radius: 1rem;
            color: white;
            z-index: 1;
        }
        mark {
            z-index: 2;
        }
    }
}

.yell {
    font-size: clamp(2rem, 5vw, 5rem);
    margin: 0;
}

.split-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 4rem;
    position: relative;
    margin: 4rem 0;
    text-wrap: pretty;

    .dot-spacer {
        height: 0rem;
        grid-column: auto / span 2;
    }

    &::before {
        display: block;
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        border-left: var(--border-dots);
    }

    .idea-words {
        text-align: center;
        h2 {
            font-size: clamp(1.5rem, 6vw, 2.5rem);
        }
        p {
            font-size: 1.3rem;
        }
    }

    .idea-picture {
        display: flex;
        justify-content: center;
        align-self: center;
        padding-bottom: 1rem;
        img {
            height: 12rem;
        }
    }
}

#features {
    padding: calc(2vw + 2vh) 0;
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 200%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -50%;
        background-color: var(--colour-palered);
        transform: rotate(-1deg);
        z-index: -1;
    }
    h1 {
        text-align: center;
    }
}

#call-to-action {
    h1 {
        font-size: 4rem;
        text-align: center;
    }
}

footer {
    text-align: center;
}

@media (max-width: 680px) {
    .split-screen {
        grid-template-columns: 1fr;
        gap: 2rem;
        .dot-spacer {
            display: none;
        }
        .idea-words {
            text-align: center !important;
        }
        .idea-picture {
            display: none;
        }
        &::before {
            display: none;
        }
    }

}